header {
    text-align: center;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-border-faint);
  }
  
  .header-div {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 2px solid red;
  }
  
  header img {
    object-fit: scale-down;
    width: 50px;
  }

  .title-icon {
    display: flex;
    flex: 1;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    justify-self: flex-center;
  }
  
  