:root {
  --color-text: #000000e6;
  --color-border-faint: #00000014;
  --secondary-bg-darkmode: #1B1F23;
  --table-separator-color: #E8E8E8;
  --standard-blue: #0B65C2;
  --selected-blue-color: #D7E9FB;
  --dark-gray-bg: #f4f2ee;
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  background-color: var(--dark-gray-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


footer {
  text-align:center;
  background-color: #FFFFFF;
  width: 100%;
  font-size: 10px;
  padding: 10px 20px;
  border-top: 1px solid var(--color-border-faint);
}



main {
  margin: 20px 40px;
  flex-grow: 1;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center-container h1 {
  text-align: center;
}




.submit-button {
  background-color: #0b65c2;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  text-decoration: none;
}

.submit-button:hover{
  background-color: var(--selected-blue-color);
  color: var(--color-text);
}

/*Span holding directions ex. "enter an artist" */
.direction-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}


/* The search box input and search button */
.search-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

/* The search box input itself */
.search-box {
  border-radius: 25px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1rem;
}

/*The form that contains the table with the list of artists */
.select-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* for button & table to be separated */
}

.song-result-spacer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.keyword-search-button {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* TABLE CSS */


tr {
  position: relative;
}

tr::after {
   content: "";
   position: absolute; 
  height: 0px;
  width: 90%;
  left: 5%;
  margin-right: 10%;
  border-bottom: 1px solid var(--color-border-faint);
}

tr:hover {
  background-color: var(--selected-blue-color);
  color: var(--color-text)
}

.selected-table-row {
  background-color: var(--selected-blue-color);
}


.result-table {
  border-collapse: collapse;
  background-color: white;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden; 
  border-radius: 25px;
}



/* Setting width of artist result table columns */


.select-artist-form thead tr th:nth-child(2){
  width: 20%;
}

.select-artist-form thead tr th:nth-child(3){
  width: 40%;
}

.select-artist-form thead tr th:nth-child(1){
  width: 40%;
}


thead {
  background-color: var(--standard-blue);
  color: white;
}

thead tr th {
  padding: 10px;
}


/* Song result table colummns - need to explicitly set width to center the songs if using tr::after*/
.song-results thead tr th:nth-child(1){
  width: 100%;
}



td {
  padding: 10px;
  text-align: center;
  width: 100%;
}

table img {
  object-fit:scale-down;
  width: 100%;
  border-radius: 25px;
}

section, .section-spacing {
  margin-bottom: 40px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  main {
    width: 30%;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
  }

  #root {
    background-color: black;
  }

  .submit-button:hover, tr:hover {
    color: #000000e6
  }

 .result-table, footer, input {
    background-color: var(--secondary-bg-darkmode)
  }

  input, a {
    color: white;
  }

 
} 






