:root {
  --color-text: #000000e6;
  --color-border-faint: #00000014;
  --secondary-bg-darkmode: #1b1f23;
  --table-separator-color: #e8e8e8;
  --standard-blue: #0b65c2;
  --selected-blue-color: #d7e9fb;
  --dark-gray-bg: #f4f2ee;
  --border-color: #f4f2ed;

  --corner-radius-small: 0.4rem;
  --corner-radius-medium: 0.8rem;
  --corner-radius-large: 1.6rem;
  --corner-radius-xlarge: 2.4rem;
  --corner-radius-full: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  background-color: var(--dark-gray-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

footer {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  font-size: 10px;
  padding: 10px 20px;
  border-top: 1px solid var(--color-border-faint);
}

main {
  margin: 20px 40px;
  flex-grow: 1;
  width: 100%;
  padding: ;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center-container h1 {
  text-align: center;
}

.submit-button {
  background-color: #0b65c2;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  text-decoration: none;
}

.submit-button:hover {
  background-color: var(--selected-blue-color);
  color: var(--color-text);
}

/*Container holding directions ex. "enter an artist" */
.direction-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.direction-label::before {
  content: "â—";
  margin-right: 10px;
}

/* The search box input and search button */
.search-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.search-icon-container {
  color: black;
  border: 1px solid red;
}

.fa-magnifying-glass {
  color: red;
}

.search-icon,
svg {
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}

/* The search box input itself */
.search-box {
  /* background: url("./../assets/magnifying-glass-solid.svg") no-repeat scroll white;
  background-position-x: 10px;
  background-position-y: center;
  background-size: 15px; */
  border-radius: 25px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1rem;
  padding: 0px 30px;
}

/*The form that contains the table with the list of artists */
.select-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* for button & table to be separated */
}

.song-result-spacer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.keyword-search-button {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.query-wrapper {
  border: 1px solid var(--border-color);
  background-color: white;
  padding: 10px 20px;
  border-radius: var(--corner-radius-medium);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.query-wrapper-row {
  display: flex;
  justify-content: space-between;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* TABLE CSS */

/* Setting width of artist result table columns */

.select-artist-form thead tr th:nth-child(2) {
  width: 20%;
}

.select-artist-form thead tr th:nth-child(3) {
  width: 40%;
}

.select-artist-form thead tr th:nth-child(1) {
  width: 40%;
}

/* thead,
thead tr th {
  background-color: var(--standard-blue);
  color: white;
} */

table img {
  object-fit: scale-down;
  width: 100%;
  border-radius: 25px;
}

.profile-greeting {

}


section {
  margin-bottom: 40px;
  width: 100%;
  padding: 0 30px;
}

.search-box-divider {
  width: 100%;
  margin-bottom: 40px;
}

.artist-and-song-wrapper {
  display: block;
}

.saved-queries-wrapper {
  display: grid;

  /* Defines one column which takes up the available space (if small) */
  grid-template-columns: 1fr;

  gap: 10px;
}

.time-wrapper {
  display: flex;
  justify-content: space-between;
}

.tag-item {
  border: 1px solid blue;
}

/* MEDIA QUERIES */

/* If small (but not very small) */
@media screen and (min-width: 576px) {
  main {
    /* width: 500px */
  }
}

/* If medium */
@media screen and (min-width: 768px) {
  main {
    /* width: 600px;
    padding: 0px; */
  }

  .artist-and-song-wrapper {
    display: flex;
    gap: 40px;
  }

  /* Targets login page */
  main > .center-container {
    flex-grow: 1;
  }

  #artist-section {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #song-section {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #top-song-section {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-box-divider {
    max-width: 400px;
  }

  .saved-queries-wrapper {
    /* 3 columns that equally take up the remianing avilable space if large */
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
  }

  /* MUI Table Cell in body - overriding for dark mode TODO*/
  .MuiTableCell-body {
    color: white !important;
  }

  /* TODO: use MUI Radio Button - not using due to dark mode TODO*/

  /*TODO: make hover more visible on dark mode */

  /* MUI pagination toolbar*/
  .MuiTablePagination-toolbar {
    color: white !important;
  }

  #root {
    background-color: black;
  }

  .submit-button:hover,
  tr:hover {
    color: #000000e6;
  }

  .result-table,
  footer,
  input,
  .query-wrapper {
    background-color: var(--secondary-bg-darkmode);
  }

  input,
  a {
    color: white;
  }
}
