* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: lightblue;
  position: sticky;
  top: 0;
  width: 100%;
  
}

header:hover {
  cursor: pointer;
}

main {
  margin: 20px 40px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}


/* The input and search button */
.search-input {
  display: flex;
  gap: 15px;
}

/*The form that contains the table with the list of artists */
.select-artist-form {
 display: flex;
  flex-direction: column;
  align-items: center;
}

/*The first row in thead */
.select-artist-form thead tr:nth-child(1) {
  background-color: gray;
}

/*The second column (could also do tbody tr td:nth-child() */
.select-artist-form thead tr th:nth-child(2){
  width: 10%;
  background-color: green;
}

td {
  padding: 10px;
  text-align: center;
}

table img {
  object-fit:scale-down;
  width: 100%;
  height: 100%;
}

  






