:root {
  --color-text: #000000e6;
  --color-border-faint: #00000014;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  background-color: #f4f2ee;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border-faint);
}

.header-div {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 25px;
}

header img {
  object-fit: scale-down;
  width: 50px;
}




footer {
  text-align:center;
  background-color: #FFFFFF;
  width: 100%;
  font-size: 10px;
  padding: 10px 20px;
  border-top: 1px solid var(--color-border-faint);
}

header:hover {
  cursor: pointer;
}

main {
  margin: 20px 40px;
  flex-grow: 1;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center-container h1 {
  text-align: center;
}


table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}

.submit-button {
  background-color: #0b65c2;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  text-decoration: none;
}

/*Span holding directions ex. "enter an artist" */
.direction-label {
  font-size: 1.5rem;
  font-weight: bold
}




/* The search box input and search button */
.search-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

/* The search box input itself */
.search-box {
  border-radius: 25px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1rem;
}

/*The form that contains the table with the list of artists */
.select-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* for button & table to be separated */
}

.song-result-spacer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;
}

/*pads table contents within table */
.table-spacer {
  padding: 20px 0px;
  background-color: white;
  border-radius: 25px;
}

.artist-table {
  border-collapse: collapse;
  background-color: white;
}

.keyword-search-button {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*The second column (could also do tbody tr td:nth-child() */
.select-artist-form thead tr th:nth-child(2){
  width: 20%;
}

.select-artist-form thead tr th:nth-child(3){
  width: 40%;
}

.select-artist-form thead tr th:nth-child(1){
  width: 40%;
}


td {
  padding: 10px;
  text-align: center;
}

table img {
  object-fit:scale-down;
  width: 100%;
  border-radius: 25px;
}

section {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  main {
    margin: 20px 200px
  }
}






